<font size="6"><b>Операторы:</b></font><br><br>

MathTool знает такие операторы:<br><br>

<strong>cov([x<sub>1</sub>, y<sub>1</sub>], ..., [x<sub>n</sub>, y<sub>n</sub>]):</strong> Вычисляет ковариацию величин x<sub>1</sub>, ..., x<sub>n</sub> и y<sub>1</sub>, ..., y<sub>n</sub>.<br><br>

<strong>diff(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>i</sub>):</strong> Вычисляет частную производную ∂F/∂x<sub>i</sub> функции F по переменной x<sub>i</sub>.<br><br>

<strong>diff(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>i</sub>, k):</strong> Вычисляет k-ю частную производную ∂<sup>k</sup>F/∂x<sub>i</sub><sup>k</sup> функции F по переменной x<sub>i</sub>.<br><br>

<strong>diff(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>i</sub>, ..., x<sub>j</sub>):</strong> Вычисляет частную производную ∂(... ∂F/∂x<sub>i</sub>)/∂x<sub>j</sub> функции F по переменнойs x<sub>i</sub>, ..., x<sub>j</sub>. Переменные x<sub>i</sub>, ..., x<sub>j</sub> не должны быть разными.<br><br>

<strong>div(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет дивергенцию div(F) = ∂F/∂x<sub>1</sub> + ··· + ∂F/∂x<sub>n</sub> функции F.<br><br>

<strong>fac(n) oder n!:</strong> Вычисляет факториал n. Для неотрицательных целых чисел n она возвращает хорошо известный факториал n! = 1·2· ··· ·n числа n. 
Факториалы отрицательных чисел возвращают ошибки, а факториал нецелых чисел возвращает значение &#915;(n + 1) <em>Гамма функции</em> 
в режиме аппроксимации. Факториал целого числа вычисляется в явном виде, только если  n &lt;= 10000.<br><br>

<em>Пример:</em> Выражение 5! упрощается к<br>

<p style="text-align: center;">120,</p><br>

поскольку approx(0.5!) возвращает<br>

<p style="text-align: center;">0.8862266958197873</p><br>

<strong>gcd(n<sub>1</sub>, ..., n<sub>k</sub>):</strong> Вычисляет наибольший общий делитель целых чисел n<sub>1</sub>, ..., n<sub>k</sub>.<br><br>

<strong>grad(F(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Вычисляет градиент grad(F) = [∂F/∂x<sub>1</sub>; ··· ; ∂F/∂x<sub>n</sub>] функции F.<br><br>

<strong>int(F(x, a<sub>1</sub>, ..., a<sub>n</sub>), x):</strong> Вычисляет неопределённый интеграл ∫F(x, a<sub>1</sub>, ..., a<sub>n</sub>)dx функции F(x, a<sub>1</sub>, ..., a<sub>n</sub>) (по x).<br><br>

<strong>int(F(x, a<sub>1</sub>, ..., a<sub>n</sub>), x, b<sub>1</sub>, b<sub>2</sub>):</strong> Вычисиляет определённый интеграл ∫<sub>b<sub>1</sub></sub><sup>b<sub>2</sub></sup>F(x, a<sub>1</sub>, ..., a<sub>n</sub>)dx функции F(x, a<sub>1</sub>, ..., a<sub>n</sub>) от b<sub>1</sub> до b<sub>2</sub> (по x).<br><br>

<strong>laplace(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет ооператор Лапласа ΔF = ∂<sup>2</sup>F/∂x<sub>1</sub><sup>2</sup> + ··· + ∂<sup>2</sup>F/∂x<sub>n</sub><sup>2</sup> функции F.<br><br>

<strong>lcm(n<sub>1</sub>, ..., n<sub>k</sub>):</strong> Вычисляет наименьшее общее кратное целых чисел n<sub>1</sub>, ..., n<sub>k</sub>.<br><br>

<strong>max(x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет максимум величин x<sub>1</sub>, ..., x<sub>n</sub>.<br><br>

<strong>min(x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет минимум величин x<sub>1</sub>, ..., x<sub>n</sub>.<br><br>

<strong>mod(a, b):</strong> Если a и b целые числа, он возвращает остачу r от деления a на b.<br><br>

<em>Пример:</em> mod(25, 7) возвращает<br>

<p style="text-align: center;">4</p><br>

<strong>mu(x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет арефметическое среднее величин x<sub>1</sub>, ..., x<sub>n</sub>.<br><br>

<strong>prod(F(k, x<sub>1</sub>, ..., x<sub>n</sub>), k, k<sub>1</sub>, k<sub>2</sub>):</strong> Вычисляет произведение F(k<sub>1</sub>, x<sub>1</sub>, ..., x<sub>n</sub>)·F(k<sub>1</sub> + 1, x<sub>1</sub>, ..., x<sub>n</sub>)· ··· ·F(k<sub>2</sub>, x<sub>1</sub>, ..., x<sub>n</sub>). Если k<sub>1</sub> &gt; k<sub>2</sub>, тогда результат равен 1.<br><br>

<strong>rot([F<sub>1</sub>; F<sub>2</sub>; F<sub>3</sub>], x, y, z):</strong> Вычисляет ротор rot(F) = [∂F/∂y(F<sub>3</sub>) - ∂F/∂z(F<sub>2</sub>); -∂F/∂x(F<sub>3</sub>) + ∂F/∂z(F<sub>1</sub>) ; ∂F/∂x(F<sub>2</sub>) - ∂F/∂y(F<sub>1</sub>)] функции F.<br><br>

<strong>sigma(x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет стандартное отклонение величин x<sub>1</sub>, ..., x<sub>n</sub>.<br><br>

<strong>sum(F(k, x<sub>1</sub>, ..., x<sub>n</sub>), k, k<sub>1</sub>, k<sub>2</sub>):</strong> Вычисляет суммуу F(k<sub>1</sub>, x<sub>1</sub>, ..., x<sub>n</sub>) + F(k<sub>1</sub> + 1, x<sub>1</sub>, ..., x<sub>n</sub>) + ··· + F(k<sub>2</sub>, x<sub>1</sub>, ..., x<sub>n</sub>). Если k<sub>1</sub> &gt; k<sub>2</sub>, тогда  0.<br><br>

<strong>taylor(F(x, y<sub>1</sub>, ..., y<sub>n</sub>), x, x<sub>0</sub>, k):</strong> Вычисляет полином Тейлора степеня k функции F(x, y<sub>1</sub>, ..., y<sub>n</sub>) по переменной x at the point x = x<sub>0</sub>.<br><br>

Операторы, в отличие от команд, могут встречаться в математических выражениях.<br><br>

<em>Пример:</em> Выражение<br>

<p style="text-align: center;">x^2*diff(y^5,y,3) + 6</p><br>

будет упрощено до<br>

<p style="text-align: center;">60*x^2*y^2+6.</p>

<strong>var(x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Вычисляет дисперсию величин x<sub>1</sub>, ..., x<sub>n</sub>.<br><br>
