<font size="6"><b>Общее о MathTool:</b></font><br><br>

MathTool - это система компьютерной алгебры, которая предназначена в основном для анализа. Она работает с обработкой
и упрощением математических выражений, решением уравнений, дифференцированием, интегрированием, решением дифференциальных уравнений
и со многим другм. MathTool также покрывает несколько числовых методов, которые приближают решения в сложных случаях.
Более того, MathTool может строить изображения плоских и трёхмерных графиков.

