<font size="6"><strong><template>math_expression</template>:</strong></font><br><br>

<template>generalities</template>.<br>
<em><template>important</template>:</em> <template>mult_sign_must_occur</template>:<br><br>

3*x + y^5, -a + 6*exp(2 + cos(z^4)), ...<br><br>

<template>math_simplifies_expression</template>.<br><br>

<template>variables</template><br><br>

a, b, c, ..., x, y, ..., a_1, x_18, ..., y', a_2', ... <br><br>

<template>not_admissible_variables</template>.<br><br>

<strong><template>list_of_functions</template>:</strong><br><br>
<strong>abs(x):</strong> <template>function_abs</template>.<br><br>
<strong>arccosec(x):</strong> <template>function_arccosec</template>.<br><br>
<strong>arccos(x):</strong> <template>function_arccos</template>.<br><br>
<strong>arccot(x):</strong> <template>function_arccot</template>.<br><br>
<strong>arcsec(x):</strong> <template>function_arcsec</template>.<br><br>
<strong>arcsin(x):</strong> <template>function_arcsin</template>.<br><br>
<strong>arctan(x):</strong> <template>function_arctan</template>.<br><br>
<strong>arcosh(x):</strong> <template>function_arcosh</template>.<br><br>
<strong>arcosech(x):</strong> <template>function_arcosech</template>.<br><br>
<strong>arcoth(x):</strong> <template>function_arcoth</template>.<br><br>
<strong>arsech(x):</strong> <template>function_arsech</template>.<br><br>
<strong>arsinh(x):</strong> <template>function_arsinh</template>.<br><br>
<strong>artanh(x):</strong> <template>function_artanh</template>.<br><br>
<strong>cos(x):</strong> <template>function_cos</template>.<br><br>
<strong>cosh(x):</strong> <template>function_cosh</template>.<br><br>
<strong>cosec(x):</strong> <template>function_cosec</template>.<br><br>
<strong>cosech(x):</strong> <template>function_cosech</template>.<br><br>
<strong>cot(x):</strong> <template>function_cot</template>.<br><br>
<strong>coth(x):</strong> <template>function_coth</template>.<br><br>
<strong>exp(x):</strong> <template>function_exp</template>.<br><br>
<strong>lg(x):</strong> <template>function_lg</template>.<br><br>
<strong>ln(x):</strong> <template>function_ln</template>.<br><br>
<strong>sgn(x):</strong> <template>function_sgn</template>.<br><br>
<strong>sin(x):</strong> <template>function_sin</template>.<br><br>
<strong>sinh(x):</strong> <template>function_sinh</template>.<br><br>
<strong>sec(x):</strong> <template>function_sec</template>.<br><br>
<strong>sech(x):</strong> <template>function_sech</template>.<br><br>
<strong>tan(x):</strong> <template>function_tan</template>.<br><br>
<strong>tanh(x):</strong> <template>function_tanh</template>.<br><br>

<font size="6"><strong><template>matrices_vectors</template>:</strong></font><br><br>

<template>matrices_vectors_generalities</template>.<br>
<template>matrix_example</template><br><br>

[1,2,5+x;0,-2/5,cos(3)]<br><br>

<template>vector_example</template><br><br> 

[5;-2;0;1]<br><br>

<template>matrix_operations</template>.<br><br>

<strong><template>list_of_matrix_functions</template>:</strong><br><br>
<strong>cos(a):</strong> <template>matrix_function_cos</template>.<br><br>
<strong>cosh(a):</strong> <template>matrix_function_cosh</template>.<br><br>
<strong>det(a):</strong> <template>matrix_function_det</template>.<br><br>
<strong>exp(a):</strong> <template>matrix_function_exp</template>.<br><br>
<strong>ln(a):</strong> <template>matrix_function_ln</template>.<br><br>
<strong>sin(a):</strong> <template>matrix_function_sin</template>.<br><br>
<strong>sinh(a):</strong> <template>matrix_function_sinh</template>.<br><br>
<strong>tr(a):</strong> <template>matrix_function_tr</template>.<br><br>
<strong>trans(a):</strong> <template>matrix_function_trans</template>.<br><br>

