<font size="6"><strong>Mathematical Expressions:</strong></font><br><br>

MathTool understands mathematical expressions. The basic arithmetic operations are denoted by +, -, * and /, and ^ denotes the power. Mathematical functions are denoted by their typical names, for example by sin(...), exp(...), ln(...), arctan(...) etc. 
A list with all functions can be found below.<br>
<em>Important:</em> Multiplications must be explicitly denoted by *. MathTool understands the expression 2*x, whereas it does not understand the expression 2x and hence returns an error.<br>
Valid expressions look like<br><br>

3*x + y^5, -a + 6*exp(2 + cos(z^4)), ...<br><br>

MathTool returns a mathematical expression immediately in a simplified form, if possible. However, this may lead to increased waiting times, if the expression is too complicated and the simplification takes far too long.<br><br>

Variables can be denoted by a small letter or by a small letter with an index. Furthermore, arbitrary many ' can be appended. 
Hence, valid variables are, for example, given by<br><br>

a, b, c, ..., x, y, ..., a_1, x_18, ..., y', a_2', ... <br><br>

but not by xy, abc or a'_1'. The apostrophe suggests a derivative, which only comes to fruition when dealing with <i>differential equations</i>. 
Otherwise it serves simply for distinguishing variables. 
The constant pi denotes the well-known constant &#960; and, of course, cannot be overwritten with the command def() (see subsection Commands). 
Note, that MathTool removes empty space as well as makes capital letters to small letters while compiling an expression. Hence, the variable A_3 will be the same variable as a_3.<br><br>

<strong>List of all functions:</strong><br><br>
<strong>abs(x):</strong> Computes the absolute value of x.<br><br>
<strong>arccosec(x):</strong> Computes the arccosecans of x (in radians).<br><br>
<strong>arccot(x):</strong> Computes the arccotangent of x (in radians).<br><br>
<strong>arcsec(x):</strong> Computes the arcsecans of x (in radians).<br><br>
<strong>arcsin(x):</strong> Computes the arcsine of x (in radians).<br><br>
<strong>arctan(x):</strong> Computes the arctangent of x (in radians).<br><br>
<strong>arcosh(x):</strong> Computes the area hyperbolic cosine of x.<br><br>
<strong>arcosech(x):</strong> Computes the area hyperbolic cosecans of x.<br><br>
<strong>arcoth(x):</strong> Computes the area hyperbolic cotangent of x.<br><br>
<strong>arsech(x):</strong> Computes the area hyperbolic secans of x.<br><br>
<strong>arsinh(x):</strong> Computes the area hyperbolic sine of x.<br><br>
<strong>artanh(x):</strong> Computes the area hyperbolic tangent of x.<br><br>
<strong>cos(x):</strong> Computes the cosine of x (x in radians).<br><br>
<strong>cosh(x):</strong> Computes the hyperbolic cosine of x.<br><br>
<strong>cosec(x):</strong> Computes the cosecans of x (x in radians).<br><br>
<strong>cosech(x):</strong> Computes the hyperbolic cosecans of x.<br><br>
<strong>cot(x):</strong> Computes the cotangent of x (x in radians).<br><br>
<strong>coth(x):</strong> Computes the hyperbolic cotangent of x.<br><br>
<strong>exp(x):</strong> Computes the exponential function of x.<br><br>
<strong>lg(x):</strong> Computes the logarithm of x to base 10.<br><br>
<strong>ln(x):</strong> Computes the natural logarithm of x.<br><br>
<strong>sgn(x):</strong> Computes the signum function of x.<br><br>
<strong>sin(x):</strong> Computes the sine of x (x in radians).<br><br>
<strong>sinh(x):</strong> Computes the hyperbolic sine of x.<br><br>
<strong>sec(x):</strong> Computes the secans of x (x in radians).<br><br>
<strong>sech(x):</strong> Computes the hyperbolic secans of x.<br><br>
<strong>tan(x):</strong> Computes the tangent of x (x in radians).<br><br>
<strong>tanh(x):</strong> Computes the hyperbolic tangent of x.<br><br>

<font size="6"><strong>Matrices and vectors:</strong></font><br><br>

MathTool is also able to understand matrices and vectors. In principle, they can be expressed
by the same language and indeed, MathTool makes no difference between matrices and vectors.
Vectors are always interpreted as matrices with only one column.<br>
To define a matrix one uses the brackets '[' and ']', where entries in the same line are
separated by a comma and rows are separated by a semicolon. For example, the expression<br><br>

[1,2,5+x;0,-2/5,cos(3)]<br><br>

defines a matrix with two rows and three columns. Analogously, the input<br><br> 

[5;-2;0;1]<br><br>

defines a vector with four entries. To express sums, differences, products and powers of 
matrices one uses the same operators as for common expressions.<br><br>

<strong>List of all matrix functions:</strong><br><br>
<strong>cos(a):</strong> Computes the cosine of a (square) matrix a.<br><br>
<strong>cosh(a):</strong> Computes the hyperbolic cosine of a (square) matrix a.<br><br>
<strong>det(a):</strong> Computes the determinant of a (square) matrix a.<br><br>
<strong>exp(a):</strong> Computes the exponential function of a (square) matrix a.<br><br>
<strong>ln(a):</strong> Computes the natural logarithm of a (square) matrix a.<br><br>
<strong>sin(a):</strong> Computes the sine of a (square) matrix a.<br><br>
<strong>sinh(a):</strong> Computes the hyperbolic sine of a (square) matrix a.<br><br>
<strong>tr(a):</strong> Computes the trace of a (square) matrix a.<br><br>
<strong>trans(a):</strong> Computes the transpose of a matrix a.<br><br>
