<center><font size="6"><strong><template>about</template> MathTool:</strong></font></center><br><br>
<strong><template>program</template>:</strong> MathTool.<br><br>
<strong><template>version</template>:</strong> 1.3.2.<br><br>
<strong><template>developer</template>:</strong> <template>author</template>.<br><br>
<strong><template>system</template>:</strong> <template>operating_system</template>.<br><br>
<template>special_thanks_to</template> Olena Gnatiuk, Dimitri Krilov <template>and</template> Sven Willner.<br><br>
<strong>Copyright 2018 by Sergei Kovalenko.</strong>

