<font size="6"><strong>Команди:</strong></font><br><br>

MathTool знає такі консольні команди:<br><br>

<strong>approx(F(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Наближує вираз F(x<sub>1</sub>, ..., x<sub>n</sub>).<br><br>

<em>Приклад:</em> approx(3^0.5) повертає<br>

<p style="text-align: center;">1.7320508075688772</p><br>

<strong>ccnf(F(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Повертає канонічну кон'юнктивну нормальну форму логічного выразу F(x<sub>1</sub>, ..., x<sub>n</sub>).<br><br>

<strong>cdnf(F(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Повертає канонічну диз'юнктивну нормальну форму логічного выразу F(x<sub>1</sub>, ..., x<sub>n</sub>).<br><br>

<strong>clear():</strong> Очищує всю консоль. Причому змінні та функції визначені користувачем лишаються у пам'яті.<br><br>

<strong>def(x = x<sub>0</sub>):</strong> Присвоює змінній x константу x<sub>0</sub>.<br><br>

<strong>def(F(x<sub>1</sub>, ..., x<sub>n</sub>) = G(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Визначає функцію F від змінних x<sub>1</sub>, ..., x<sub>n</sub> за допомогою виразу G(x<sub>1</sub>, ..., x<sub>n</sub>). Звичайно наперед задані функції, такі як sin(), tan(), exp(), і.т.д., не можуть бути перевизначені.<br><br>

<em>Приклад:</em> Після виконання def(f(x, y) = x^2 + sin(x*y)), MathTool знає функцію f. Тоді f(u^3, u*v^4) повертатиме<br>

<p style="text-align: center;">u^6+sin(u^4*v^4).</p><br>

<strong>defvars():</strong> Повертає список усіх змінних та їх значень, що були визначені командою def().<br><br>

<strong>eigenvalues(A):</strong> Повертає власні числа квадратної матриці A, якщо їх можливо обчислити.<br><br>

<strong>eigenvectors(A):</strong> Повертає власні вектори квадратної матриці A, погруповані по відповідним власним числам, якщо їх можливо обчислити.<br><br>

<strong>euler(n):</strong> Повертає перші n розрядів константи e. Результат <em>не</em> округляється.<br><br>

<em>Приклад:</em> euler(20) повертає<br>

<p style="text-align: center;">2.71828182845904523536</p><br>

З міркувань оптимального використання пам'ті n не повинно перевищувати 100000.<br><br>

<strong>expand(F(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Розкриває всі дужки у виразі F.<br><br>

<em>Приклад:</em> expand(x+(a+b)*(c+d+e)) повертає

<p style="text-align: center;">x+a*c+a*d+a*e+b*c+b*d+b*e</p><br>

<strong>latex(F<sub>1</sub>(x<sub>1</sub>, ..., x<sub>n</sub>) = ... = F<sub>m</sub>(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong> Генерує Latex код для математичного виразу F<sub>1</sub>(x<sub>1</sub>, ..., x<sub>n</sub>) = ... = F<sub>m</sub>(x<sub>1</sub>, ..., x<sub>n</sub>).<br><br>

<strong>normal(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>1</sub> = a<sub>1</sub>, ..., x<sub>n</sub> = a<sub>n</sub>):</strong> Повертає параметризацію нормалі до графа F у точці (x<sub>1</sub>, ..., x<sub>n</sub>) = (a<sub>1</sub>, ..., a<sub>n</sub>).<br><br>

<strong>pi(n):</strong> Повертає перші n розрядів константи &#960;. Результат <em>не</em> округляється.<br><br>

<em>Приклад:</em> pi(20) повертає<br>

<p style="text-align: center;">3.14159265358979323846</p><br>

З міркувань оптимального використання пам'ті n не повинно перевищувати 100000.<br><br>

<strong>plot2d(F<sub>1</sub>(x), ..., F<sub>n</sub>(x), x, x<sub>1</sub>, x<sub>2</sub>):</strong> Будує графіки функцій F<sub>1</sub>, ..., F<sub>n</sub> від змінних x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub>. Коефіцієнт масштабування може бути (майже) довільним.<br><br>

<strong>plotimplicit2d(F<sub>1</sub>(x, y) = F<sub>2</sub>(x, y), x, y, x<sub>1</sub>, x<sub>2</sub>, y<sub>1</sub>, y<sub>2</sub>):</strong> Будує графік розв'язку рівняння F<sub>1</sub>(x, y) = F<sub>2</sub>(x, y) двох змінних x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub>, y<sub>1</sub> &lt;= y &lt;= y<sub>2</sub>. Тут масштабування та рух системи координат неможливі.<br>

<strong>plot3d(F<sub>1</sub>(x, y), ..., F<sub>n</sub>(x, y), x, y, x<sub>1</sub>, x<sub>2</sub>, y<sub>1</sub>, y<sub>2</sub>):</strong> Будує графік функцій F<sub>1</sub>, ..., F<sub>n</sub> в прямокутнику x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub>, y<sub>1</sub> &lt;= y &lt;= y<sub>2</sub>. Коефіцієнт масштабуванняcan може приймати всі значення між 0.1 та 10.<br><br>

<strong>plotimplicit3d(F<sub>1</sub>(x, y, z) = F<sub>2</sub>(x, y, z), x, y, z, x<sub>1</sub>, x<sub>2</sub>, y<sub>1</sub>, y<sub>2</sub>, z<sub>1</sub>, z<sub>2</sub>):</strong> Будує графік розв'язку рівняння F<sub>1</sub>(x, y, z) = F<sub>2</sub>(x, y, z) у трьох змінних у кубоїді x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub>, y<sub>1</sub> &lt;= y &lt;= y<sub>2</sub>, z<sub>1</sub> &lt;= z &lt;= z<sub>2</sub>. Коефіцієнт масштабуванняcan може приймати всі значення між 0.1 та 10.<br>

<strong>plotcurve2d([F<sub>1</sub>(t); F<sub>2</sub>(t)], t, t<sub>1</sub>, t<sub>2</sub>):</strong> Будує плоску криву, що параметризована функціями x = F<sub>1</sub>(t) та y = F<sub>2</sub>(t) від t<sub>1</sub> &lt;= t &lt;= t<sub>2</sub>. Коефіцієнт масштабуванняcan може приймати всі значення між 0.1 та 10. Може так статися (якщо вибрати "погану" криву), що буде зображено лише частину кривої (тобто, для t<sub>1</sub> &lt;= t &lt;= t' для деякого t' &lt;= t<sub>2</sub>).<br><br>

<strong>plotcurve3d([F<sub>1</sub>(t); F<sub>2</sub>(t); F<sub>3</sub>(t)], t, t<sub>1</sub>, t<sub>2</sub>):</strong> Будує криву, що задана функціями x = F<sub>1</sub>(t), y = F<sub>2</sub>(t) та z = F<sub>3</sub>(t) від t<sub>1</sub> &lt;= t &lt;= t<sub>2</sub>. Коефіцієнт масштабуванняcan може приймати всі значення між 0.1 та 10. Може так статися (якщо вибрати "погану" криву), так само як у випадку плоскої кривої, що буде зображено лише частину кривої.<br><br>

<strong>plotpolar(F<sub>1</sub>(t), ..., F<sub>n</sub>(t), t, t<sub>1</sub>, t<sub>2</sub>):</strong> Будує графіки функцій F<sub>1</sub>, ..., F<sub>n</sub> від t<sub>1</sub> &lt;= t &lt;= t<sub>2</sub>, де t - це кут та F<sub>i</sub>(t) - це радіус у полярних координатах. Коефіцієнт масштабуванняcan може приймати всі значення між 0.1 та 10.<br><br>

<strong>plotcylindrical(F<sub>1</sub>(r, t), ..., F<sub>n</sub>(r, t), r, t, r<sub>1</sub>, r<sub>2</sub>, t<sub>1</sub>, t<sub>2</sub>):</strong> Будує графіки функцій F<sub>1</sub>(r, t), ..., F<sub>n</sub>(r, t) для r<sub>1</sub> &lt;= r &lt;= r<sub>2</sub> та t<sub>1</sub> &lt;= t &lt;= t<sub>2</sub> у циліндричних координатах, де r це радіус, а t - кут. Радіус має бути невід'ємним, різниця t<sub>2</sub> - t<sub>1</sub> кутів не має перевищувати 20&#960; з технічних причин. Фактор маштабування може набувати усіх значень між 0.1 та 10.<br><br>

<strong>plotspherical(F<sub>1</sub>(u, v), ..., F<sub>n</sub>(u, v), u, v, u<sub>1</sub>, u<sub>2</sub>, v<sub>1</sub>, v<sub>2</sub>):</strong>Будує графіки функцій F<sub>1</sub>(u, v), ..., F<sub>n</sub>(u, v) для u<sub>1</sub> &lt;= u &lt;= u<sub>2</sub> та v<sub>1</sub> &lt;= v &lt;= v<sub>2</sub> у циліндричних координатах, де u це кут у x, y-площині та v - кут до осі z. Різниці u<sub>2</sub> - u<sub>1</sub> та v<sub>2</sub> - v<sub>1</sub> кутів не мають перевищувати 20&#960; з технічних причин. Фактор маштабування може набувати усіх значень між 0.1 та 10.<br><br>

<strong>plotsurface([F<sub>1</sub>(s, t); F<sub>2</sub>(s, t); F<sub>3</sub>(s, t)], s, t, s<sub>1</sub>, s<sub>2</sub>, t<sub>1</sub>, t<sub>2</sub>):</strong> Будує поверхню, що задана компонентними функціями x = F<sub>1</sub>(s, t), y = F<sub>2</sub>(s, t) and z = F<sub>3</sub>(s, t) для s<sub>1</sub> &lt;= s &lt;= s<sub>2</sub> та t<sub>1</sub> &lt;= t &lt;= t<sub>2</sub>. Коефіцієнт масштабуванняcan може приймати всі значення між 0.1 та 10.<br><br>

<strong>plotvectorfield2d([F<sub>1</sub>(x, y); F<sub>2</sub>(x, y)], x, y, x<sub>1</sub>, x<sub>2</sub>, y<sub>1</sub>, y<sub>2</sub>):</strong> Будує векторне поле [F<sub>1</sub>(x, y); F<sub>2</sub>(x, y)] для x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub> та y<sub>1</sub> &lt;= y &lt;= y<sub>2</sub>. Фактор маштабування може бути (майже) будь яким.<br><br>

<strong>plotvectorfieldpolar([F<sub>1</sub>(r, t); F<sub>2</sub>(r, t)], r, t, r<sub>1</sub>, r<sub>2</sub>, t<sub>1</sub>, t<sub>2</sub>):</strong> Будує векторне поле [F<sub>1</sub>(r, t); F<sub>2</sub>(r, t)] для r<sub>1</sub> &lt;= r &lt;= r<sub>2</sub> та t<sub>1</sub> &lt;= t &lt;= t<sub>2</sub>. Тут, (r, t) це полярне зображення поточної точки та F<sub>1</sub>(r, t) це радіус та F<sub>2</sub>(r, t) це кут полярного зображення векторного поля. Фактор маштабування може бути (майже) будь яким.<br><br>

<strong>regressionline(P<sub>1</sub>, ..., P<sub>n</sub>):</strong> Обчислює рівняння регресійної прямої для точок P<sub>1</sub>, ..., P<sub>n</sub>, 2 &lt;= n, а також будує графік, якщо це можливо. Точки P<sub>i</sub> мають бути (післіа спрощення) у формі  [a;b], тобто мають бути (2x1)-матрицями.<br><br>

<strong>solve(F<sub>1</sub>(x) = F<sub>2</sub>(x)):</strong> Повертає алгебраїчні (точні) розв'язки рівняння F<sub>1</sub>(x) = F<sub>2</sub>(x) у x, якщо це можливо. Помітимо, що не кожне рівняння може бути розв'язано точно. Наприклад, рівняння виду exp(x) - x = 3 не має розв'язків, що що можна виразити алгебраїчно або від елементарних функцій. В цьому випадку MathTool не поверне (точних) розв'язків.

<em>Приклад:</em> Розглянемо рівняння x^18 - 3*x^6 - 11 = 0. Команда solve(x^18 - 3*x^6 - 11 = 0) повертає розв'язки
<p style="text-align: center;">x_1 = ((11/2+117^(1/2)/2)^(1/3)+(11/2-117^(1/2)/2)^(1/3))^(1/6)</p>
<p style="text-align: center;">x_2 = -((11/2+117^(1/2)/2)^(1/3)+(11/2-117^(1/2)/2)^(1/3))^(1/6).</p>
У наближеному вигляді, ці розв'язки є x<sub>1, 2</sub> ≈ ±1.1777403511345441. Те саме поверне команда з відповідним інтервалом (дивіться ниже).<br><br>

<strong>solve(F<sub>1</sub>(x, a<sub>1</sub>, ..., a<sub>n</sub>) = F<sub>2</sub>(x, a<sub>1</sub>, ..., a<sub>n</sub>), x):</strong> Повертає (точні) розв'язки рівняння F<sub>1</sub>(x, a<sub>1</sub>, ..., a<sub>n</sub>) = F<sub>2</sub>(x, a<sub>1</sub>, ..., a<sub>n</sub>) від x (в залежності від параметрів a<sub>1</sub>, ..., a<sub>n</sub>), якщо це можливо.<br><br>

<strong>solve(F<sub>1</sub>(x) = F<sub>2</sub>(x), x<sub>1</sub>, x<sub>2</sub>):</strong> Повертає числові розв'язки рівняння F<sub>1</sub>(x) = F<sub>2</sub>(x) у інтервалі x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub>.<br><br>

<strong>solve(F<sub>1</sub>(x) = F<sub>2</sub>(x), x<sub>1</sub>, x<sub>2</sub>, n):</strong> Повертає числові розв'язки рівняння F<sub>1</sub>(x) = F<sub>2</sub>(x) у інтервалі x<sub>1</sub> &lt;= x &lt;= x<sub>2</sub>. Тут інтервал [x<sub>1</sub>, x<sub>2</sub>] розбивається на n рівних підінтервалів, і у кожному підінтервалі може бути знайдено максимум один  розв'язок. Збільшення n може потенційно породити більше розв'язків, але це збільшує час підрахунку. Ця функція може бути корисною, якщо користувач має конкретні знання про розв'язки рівняння F<sub>1</sub>(x) = F<sub>2</sub>(x).<br><br>

<strong>solvediffeq(F<sub>1</sub>(x, y, y', y'', ..., y<sup>(n)</sup>) = F<sub>2</sub>(x, y, y', y'', ..., y<sup>(n)</sup>), x, y):</strong> Повертає розв'язки диференціального рівняння F<sub>1</sub>(x, y, y', y'', ..., y<sup>(n)</sup>) = F<sub>2</sub>(x, y, y', y'', ..., y<sup>(n)</sup>).<br><br>

<strong>solvediffeq(F(x, y, y', y'', ..., y<sup>(n-1)</sup>), x, y, n, x<sub>0</sub>, x<sub>1</sub>, y<sub>0</sub>, y<sub>1</sub>, ..., y<sub>n-1</sub>):</strong> Повертає числові розв'язки диференціального рівняння y<sup>(n)</sup> = F(x, y, y', y'', ..., y<sup>(n-1)</sup>), y(x<sub>0</sub>) = y<sub>0</sub>, ..., y<sup>(n-1)</sup>(x<sub>0</sub>) = y<sub>n-1</sub> у інтервалі x_0 &lt;= x &lt;= x<sub>1</sub>. Для числових розрахунків інтервал [x<sub>0</sub>, x<sub>1</sub>] розбивається на 1000 підінтервалів та MathTool повертає усі 1001 значення функції у відповідних точках.<br><br>

<em>Приклад:</em> solvedeq(-y,t,y,2,0,10,1,0) повертає числові розв'язки диференціального рівняння y''(t) = -y(t), y(0) = 1, y'(0) = 0 for 0 &lt;= t &lt;= 10. Тут MathTool повертає 1001 значень y(t), оскільки приріст рівний 0.01.<br><br>

<strong>table(F(x<sub>1</sub>, ..., x<sub>n</sub>)):</strong>Повертає таблицю усіх можливих значень логічного виразу F(x<sub>1</sub>, ..., x<sub>n</sub>), в залежності від значень змінних x<sub>1</sub>, ..., x<sub>n</sub>. Якщо n більше 20, то підрахунки проводитися не будуть.<br><br>

<strong>tangent(F(x<sub>1</sub>, ..., x<sub>n</sub>), x<sub>1</sub> = a<sub>1</sub>, ..., x<sub>n</sub> = a<sub>n</sub>):</strong> Повертає рівняння дотичного простору до графііка F у точці (x<sub>1</sub>, ..., x<sub>n</sub>) = (a<sub>1</sub>, ..., a<sub>n</sub>).<br><br>
<em>Приклад:</em> tangent(x^3+x/2+3,x=2) поверне наступне рівняння:<br>

<p style="text-align: center;">Y=12+(25*(x-2))/2.</p><br>

Додатково MathTool будує обидва графіки (функцій x^3+x/2+3 та 12+25*(x-2)/2).<br><br>

<strong>taylordiffeq(F(x, y, y', y'', ..., y<sup>(n-1)</sup>), x, y, n, x<sub>0</sub>, y<sub>0</sub>, y<sub>1</sub>, ..., y<sub>n-1</sub>, m):</strong> Повертає поліном Тейлора степеня m розв'язку диференціального рівняння y<sup>(n)</sup> = F(x, y, y', y'', ..., y<sup>(n-1)</sup>), y(x<sub>0</sub>) = y_0, ..., y<sup>(n-1)</sup>(x<sub>0</sub>) = y<sub>n-1</sub>.<br><br>

<em>Приклад:</em> taylordeq(-y,t,y,2,0,1,0,10) повертає поліном Тейлора степеня 10 розв'язку диференціального рівняння  y''(t) = -y(t), y(0) = 1, y'(0) = 0. Точні розв'язки задається формулою y(t) = cos(t), тому послідовності степенів це<br><br>

<p style="text-align: center;">y(t) = cos(t) = 1 - t^2/2! + t^4/4! - t^6/6! + ...</p><br>

Таким чином MathTool повертає<br>

<p style="text-align: center;">1 + t^4/24 + t^8/40320-(t^2/2 + t^6/720 + t^10/3628800).</p><br>

<strong>undeffuncs(f<sub>1</sub>, ..., f<sub>n</sub>):</strong> Видаляє функції f<sub>1</sub>, ..., f<sub>n</sub>.<br><br>

<strong>undefvars(x<sub>1</sub>, ..., x<sub>n</sub>):</strong> Змінні x<sub>1</sub>, ..., x<sub>n</sub> знову вільні змінні, тобто без присвоєних значень.<br><br>

<strong>undefallfuncs():</strong> Видаляє усі функції, що були присвоєні протягом сесії.<br><br>

<strong>undefallvars():</strong> Усі змінні, яким призначено значення протягом даної сесії, знову вільні змінні.<br><br>

<strong>undefall():</strong> Видаляє усі функції та змінні, що були присвоєні протягом сесії.<br><br>

Усі консольні команди, що були запущені під час сесії зберігаються та можуть бути запущениі повторно використовуючи стілки (вверх = остання команда, вниз = наступна команда).